//////////////////////////////////////////
/// Wrapper

.wrapper {
  overflow: hidden;
}

//////////////////////////////////////////
/// Header

.header {
  margin: 2rem;

  &__box {
    margin: 0 auto;
    max-width: 35rem;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $rwd-medium) {
      max-width: 60rem;
    }
  }

  &__text {
    @media only screen and (min-width: $rwd-medium) {
      display: none;
    }
  }

  &__text--desktop {
    display: none;
    @media only screen and (min-width: $rwd-medium) {
      display: block;
    }
  }
}

//////////////////////////////////////////
/// Sections

.section {
  &__header {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

//////////////////////////////////////////
/// Footer

.footer {
  position: relative;
  margin-top: 2rem;
  padding-bottom: 3rem;

  &__heading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    max-width: 25rem;
  }

  &__icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: block;
  }
}
